@font-face {
    font-family: 'Inter';
    font-weight: 900;
    src: url(../../font-style/Inter-Black.woff2) format("woff2"),
    url(../../font-style/Inter-Black.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(../../font-style/Inter-Regular.woff2) format("woff2"),
    url(../../font-style/Inter-Regular.woff) format("woff");
}

.lead {
    font-family: Inter, serif;
    -webkit-font-smoothing: antialiased;
    max-width: 984px;
    width: 90%;
    margin: 0 auto;
    padding-top: 56px;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .lead {
        width: 93.75%;
    }
}

@media screen and (max-width: 720px) {
    .lead {
        width: 100%;
    }
}