.place__website-link {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    color: #fff;
}

.place__website-link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

@media screen and (max-width: 740px){
    .place__website-link {
        position: relative;
    }
}