.place__description {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
}

@media screen and (max-width: 977px){
    .place__description {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 740px){
    .place__description {
        width: 90%;
        margin: 0 auto;
    }
}